/* static/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

main {
    max-width: 1000px;
    margin: 150px auto 20px;
    padding: 0 20px;
}

html {
    scroll-behavior: smooth;
}

/* Footer */
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: #d8d8d8;
    border-top: 2px inset #000000;
}

.footer-logo {
    width: 75px; /* Adjust the size of the logo as needed */
    height: auto;
}

.footer-contact p {
    font-family: Book Antiqua, sans-serif;
    font-size: 16px;
}

.social-icons {
    font-size: 48px;
}

.facebook-icon {
    color: #3b5998; /* Facebook brand color */
}

.facebook-icon:hover {
    color: #2f66cb; /* Hover color */
}

/* Body */
body {
    background-color: #e0e0e0; /* Light gray background */
    font-family: Candara, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px; /* Reduce the max-width for the main container */
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.top-header {
    background: linear-gradient(90deg, #1672E9, #125BBA);
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    max-width: 1000px;
}

.bottom-header {
    background: linear-gradient(90deg, #1672E9, #125BBA);
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 1000px;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 100px; /* Adjust the size of the logo as needed */
    height: auto;
}

.right p {
    font-family: Book Antiqua, sans-serif;
    margin: 0;
    color: white;
    text-align: right;
    font-size: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #125BBA;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 24px;
    color: white;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text {
    text-align: center;
    margin-bottom: 20px;
}

.map-mission-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.map-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    height: 390px;
    margin-right: 20px;
    border-radius: 10px;
}

.mission-container {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

#directions-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1672E9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

#directions-button:hover {
    background-color: #125BBA;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Home page slideshow */
.slideshow-container {
    height: 100%;
    display: flex;
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
    position: relative;
    width: 100%;
}

.featured-image {
    height: auto;
    width: 1000px;
    cursor: grab;
}

@keyframes slide {
    0% {transform: translateX(0px);}
    100% {transform: translateX(-100%);}
}

.sliding {
    animation: slide 1.5s ease-in-out forwards;
}

/* Main page trailers */

.trailer-container {
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

.trailer-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.trailer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.trailer-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.trailer-content {
    position: relative;
    width: 150px;
    height: auto;
}

.trailer-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.trailer-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    border-radius: 10px;
    z-index: 1;
}

.trailer-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    z-index: 2;
}

.rent-badge-home {
    position: absolute;
    top: 5px;
    left: -5px;
    background-color: #ff5c5c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    z-index: 3;
}

.rent-trailers-info {
    text-align: center;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: bold;
}

.rent-trailers-info a {
    color: #007bff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

.rent-trailers-info a:hover {
    border-bottom: 1px solid #007bff;
}

.site-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000; /* header stays on top */
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

/* Trailer Types */
body.sticky-header-padding {
    padding-top: 150px;
}

.site-header .container {
    max-width: none;
    padding: 0 20px;
}

.trailer-types-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.trailer-type {
    text-align: center;
    position: relative;
}

.trailer-type img {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.trailer-type h2 {
    font-size: 1.2rem;
    margin: 0;
}

.trailer-type p {
    font-family: Book Antiqua, sans-serif;
    font-size: 0.8rem;
    margin: 5px 0;
}

/* Slideshow controls */
.slideshow-controls {
    position: relative;
    margin-top: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-340%);
    color: black;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.rent-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff5c5c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

.flash-highlight {
    animation: flash 1.5s forwards;
    border-radius: 10px;
}

@keyframes flash {
    0% { background-color: transparent; }
    40% { background-color: rgba(0, 0, 0, 0.2); }
    60% { background-color: rgba(0, 0, 0, 0.2); }
    100% { background-color: transparent; }
}

/* Services Page */
body.sticky-header-padding {
    padding-top: 150px;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    padding: 0;
}

.service {
    text-align: center;
}

.service h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.service-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.service-images img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-images img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* About Us */
.about-us-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.about-us-text {
    font-family: "Book Antiqua", sans-serif;
    flex: 1;
    max-width: 55%;
}

.about-us-image {
    margin-left: 20px;
    flex: 1;
    max-width: 45%;
    text-align: right;
    padding: 20px;
}

.about-us-services {
    font-family: "Book Antiqua", sans-serif;
    flex: 1;
}

.about-us-image img {
    max-width: 100%;
    height: auto;
}

/* About Us page slideshow */
.about-us-slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.about-us-mySlides {
    display: none;
    width: 100%;
}

/* Jobs Page */
.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.button {
    background-color: #1672E9;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #125BBA;
}

.facebook-feed {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.facebook-feed h2 {
    text-align: center;
    color: #333;
}

.fb-page {
    display: block;
    margin: 0 auto;
    max-width: 1000px; /* Set a max-width that fits well within your layout */
    width: 100%; /* Ensures it adapts to the width of the parent container */
}

/* download application page */
.download-button {
    text-align: center;
    margin: 20px 0;
    padding: 20px;
}

.download-button .button {
    background-color: #1672E9;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button .button:hover {
    background-color: #125BBA;
}

.application-image {
    text-align: center;
    margin-top: 25px;
}

.application-image img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

/* Job Application styles */
form {
    font-family: Book Antiqua, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form div {
    margin-bottom: 10px;
}

.monetary-field-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.monetary-field {
    flex: 1;
    padding-left: 1.5em;
    box-sizing: border-box;
}

.monetary-field-container::before {
    content: '$';
    position: absolute;
    left: 0.6em;
    top: 50%;
    transform: translateY(-40%);
    color: #000;
    pointer-events: none;
}

.cursive-field-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.cursive-field {
    flex: 1;
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
    padding-left: 0.5em;
    box-sizing: border-box;
}

form .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

form .form-row label {
    flex: 1;
    margin-right: 10px;
    white-space: nowrap;
}

form .form-row input[type="checkbox"] {
    margin: 0;
}

form label {
    display: block;
    font-weight: bold;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-button-container {
    display: flex;
    justify-content: center;
}

#add-employment-history, #add-accident-record, #add-traffic-conviction, #add-license, #add-address {
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #1672E9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-employment-history:hover, #add-accident-record:hover, #add-traffic-conviction:hover, #add-license:hover #add-address:hover {
    background-color: #125BBA;
}

#license-details {
    display: none;
}

.toggle-section {
    border: black 1px solid;
    background-color: transparent;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-section:hover {
    background-color: #909090;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
}

.collapsible-content {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.expanded {
    max-height: 10000px;
}

.toggle-section.valid {
    background-color: #74c874;
    color: white;
}

.toggle-section.valid:hover {
    background-color: #33b712;
}

.toggle-section.invalid {
    background-color: #f36565;
    color: white;
}

.toggle-section.invalid:hover {
    background-color: #e12323;
}

.employment-history-form {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
}

.employment-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.employment-history-form h3 {
    margin-top: 0;
}

.delete-employment-history {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-employment-history:hover {
    background-color: #d32f2f;
}

.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.submit-container button {
    padding: 10px 20px;
    font-size: 16px;
}

.invalid-field {
    border: 1px solid red;
    background-color: #fdd;
}

.success-message {
    padding: 10px 20px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 0;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.2em;
}

.submit-error-message {
    color: red;
    font-size: 1.4em;
}

.error-container {
    text-align: center;
    margin-top: 10px;
}

.required-asterisk::after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.job-border {
    border-top: 1px double black;
    border-bottom: 1px double black;
    margin: 10px 0;
    height: 2px;
}

.reg-border {
    border: 1px solid #ccc;
    margin: 10px 0;
}

.application-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid #ddd;
}

.application-header h1 {
    margin: 0;
    font-size: 32px;
    font-family: 'Book Antiqua', serif;
}

.application-header .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1672E9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.application-header .button:hover {
    background-color: #125BBA;
}

.save-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.save-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1672E9;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
}

.save-container button:hover {
    background-color: #125BBA;
}

/* Contact Us */
.book-antiqua {
    font-family: Book Antiqua, sans-serif;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .featured-image {
        height: auto;
        width: 400px;
        cursor: grab;
    }

    .site-header .container {
        flex-direction: column; /* Stack header items vertically on smaller screens */
        text-align: center; /* Center align text for better appearance */
    }

    .right p {
        text-align: center;
    }

    nav ul {
        justify-content: center; /* Center the navigation links */
        display: none;
        flex-direction: column;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin-bottom: 10px; /* Add space between links */
        margin-right: 0; /* Remove right margin */
    }

    .hamburger-menu {
        display: block; /* Show the hamburger menu on smaller screens */
    }

    main {
        max-width: 1000px;
        margin: 225px auto 20px;
        padding: 0 20px;
    }

    .application-header {
        margin-left: 0;
        margin-right: 0;
    }

     /* About Us Mobile Styles */
    .about-us-container {
        display: block;
    }

    .about-us-text {
        max-width: 100%;
        margin-bottom: 20px; /* Add some space below the text section */
    }

    .about-us-image {
        margin-left: 0;
        max-width: 100%;
        text-align: center; /* Center the image on smaller screens */
    }
}
