<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JMW Transfer, Inc.{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% block icon %}
    <link rel="icon" href="{% static 'images/favicon3.jpg' %}" type="image/x-icon">
    {% endblock %}
</head>
<body>
    <header class="site-header" id="site-header">
        <div class="top-header">
            <div class="container">
                <div class="left">
                    <img src="{% static 'images/favicon4.jpg' %}" alt="Company Logo" class="logo">
                </div>
                <div class="right">
                    <p>(920) 731-4628</p>
                    <p>N2833 Hwy 47, Appleton, WI 54913</p>
                </div>
            </div>
        </div>
        <div class="bottom-header">
            <div class="container">
                <nav>
                    <div class="hamburger-menu" id="hamburger-menu">
                        <i class="fas fa-bars"></i>
                    </div>
                    <ul id="nav-links">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="javascript:void(0);" id="trailers-link">Trailers</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><a href="{% url 'jobs' %}">Jobs</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <img src="{% static 'images/favicon2.jpg' %}" alt="Logo" class="footer-logo">
            <div class="footer-contact">
                <p>&copy; {% now "Y" %} JMW Transfer, Inc. All rights reserved.</p>
                <p>(920) 731-4628</p>
                <p>N2833 Hwy 47, Appleton, WI 54913</p>
            </div>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61550969441683" target="_blank" class="facebook-icon"><i class="fab fa-facebook-square"></i></a>
            </div>
        </div>
    </footer>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const trailersLink = document.getElementById('trailers-link');
            const hamburgerMenu = document.getElementById('hamburger-menu');
            const navLinks = document.getElementById('nav-links');
            
            trailersLink.addEventListener('click', function(e) {
                if (window.location.pathname === '{% url 'home' %}') {
                    e.preventDefault();
                    const trailerContainer = document.getElementById('trailers');
                    trailerContainer.scrollIntoView({ behavior: 'smooth' });
                    navLinks.classList.toggle('active');
                    setTimeout(() => {
                        trailerContainer.classList.add('flash-highlight');
                        setTimeout(() => {
                           trailerContainer.classList.remove('flash-highlight'); 
                        }, 1500);
                    }, 400);
                    
                } else {
                    window.location.href = "{% url 'trailer_types' %}";
                }
            });
            
            hamburgerMenu.addEventListener('click', () => {
               navLinks.classList.toggle('active');
            });
        });
    </script>
</body>
</html>