<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Home - JMW Transfer, Inc.{% endblock %}

{% block content %}
<div class="home-container">
    <div class="welcome-text">
        <h1>Welcome to JMW Transfer, Inc.</h1>
    </div>
    <div class="map-mission-container">
        <div id="map" class="map-container">
            <script>
                function initMap() {
                    const center = { lat: 44.3418, lng: -88.4171 };
                    
                    const map = new google.maps.Map(document.getElementById('map'), {
                        center: center,
                        zoom: 18,
                        mapTypeId: google.maps.MapTypeId.SATELLITE
                    });
                    
                    const marker = new google.maps.Marker({
                        position: center,
                        map: map,
                        title: 'JMW Transfer, Inc.'
                    });
                }
            </script>

            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5aH58qJcAkj8fn8j0fCjlIO158fef_pk&callback=initMap">
            </script>
        </div>
        <div class="mission-container">
            <button id="directions-button" onclick="openDirections()">Get Directions</button>
            <h3>Our Mission</h3>
            <p>Since 1980, JMW Transfer, Inc. has strived for high quality transportation services to local customers. Delivering products with timeliness, care and safety is our companies' goal. JMW Transfer, Inc. has a solid reputation for 35+ years of doing so.</p>
            <p>JMW Transfer, Inc. will deliver goods regionally as well as deliveries throughout the country.  Drivers and management take great pride in being a reputable part of your shipping needs.</p>
            <script>
                function openDirections() {
                    const lat = 44.3418;
                    const lng = -88.4171;
                    const url = `https://www.google.com/maps/dir/?api=1&destination=${lat},${lng}`;
                    window.open(url, '_blank');
                }
            </script>
        </div>
    </div>
    <div class="slideshow-container">
        <div class="mySlides">
            <img src="{% static 'images/website-photo5.png' %}" alt="Featured 1" class="featured-image">
        </div>
        <div class="mySlides">
            <img src="{% static 'images/website-photo6.jpg' %}" alt="Featured 2" class="featured-image">
        </div>
        <div class="mySlides">
            <img src="{% static 'images/website-photo8.jpg' %}" alt="Featured 3" class="featured-image">
        </div>
        <div class="mySlides">
            <img src="{% static 'images/website-photo4.jpeg' %}" alt="Featured 4" class="featured-image">
        </div>
        <div class="mySlides">
            <img src="{% static 'images/website-photo7.jpg' %}" alt="Featured 5" class="featured-image">
        </div>
        <div class="mySlides">
            <img src="{% static 'images/website-photo10.jpg' %}" alt="Featured 6" class="featured-image">
        </div>
        <script>
        document.addEventListener('DOMContentLoaded', () => {
            let slideIndex = 0;
            let slides = document.getElementsByClassName("mySlides");
        
            function showSlides() {
                for (let i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";  
                    slides[i].classList.remove("slide");
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1; }
                slides[slideIndex-1].classList.add("slide");
                slides[slideIndex-1].style.display = "block";  
                setTimeout(showSlides, 3000);
            }
            
            function makeImagesGrabbable() {
                const images = document.getElementsByClassName("featured-image");
                for (let i = 0; i < images.length; i++) {
                    images[i].addEventListener('mousedown', function() {
                       images[i].style.cursor = 'grabbing'; 
                    });
                    images[i].addEventListener('mouseup', function() {
                       images[i].style.cursor = 'grab'; 
                    });
                }
            }
            
            showSlides();
            makeImagesGrabbable();
        });
        </script>
    </div>
    <div class="trailer-container" id="trailers">
        <h3>Trailer Types for Rent/Lease</h3>
        <ul class="trailer-list">
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=dry_van'">
                <img src="{% static 'images/trailer1.jpg' %}" alt="Dry Van" class="trailer-image">
                Dry Van
            </li>
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=heated'">
                <img src="{% static 'images/trailer5.jpg' %}" alt="Heated Flatbed Roll" class="trailer-image">
                Heated Flatbed Roll
            </li>
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=conestoga'">
                <img src="{% static 'images/trailer4.jpg' %}" alt="Conestoga" class="trailer-image">
                Conestoga
            </li>
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=flatbed'">
                <img src="{% static 'images/trailer3.jpg' %}" alt="Flatbed/Drop Deck" class="trailer-image">
                Flatbed
            </li>
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=storage'">
                <img src="{% static 'images/trailer2.jpg' %}" alt="Storage Van" class="trailer-image">
                Storage Van
            </li>
        </ul>
    </div>
</div>
{% endblock %}
