<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}

{% block title %}Home - JMW Transfer, Inc.{% endblock %}

{% block content %}
<div class="home-container">
    <div class="welcome-text">
        <h1>Welcome to JMW Transfer, Inc.</h1>
    </div>
    <div class="map-mission-container">
        <div id="map" class="map-container">
            <script>
                function initMap() {
                    const center = { lat: 44.3418, lng: -88.4171 };
                    
                    const map = new google.maps.Map(document.getElementById('map'), {
                        center: center,
                        zoom: 18,
                        mapTypeId: google.maps.MapTypeId.SATELLITE
                    });
                    
                    const marker = new google.maps.Marker({
                        position: center,
                        map: map,
                        title: 'JMW Transfer, Inc.'
                    });
                }
            </script>

            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5aH58qJcAkj8fn8j0fCjlIO158fef_pk&callback=initMap">
            </script>
        </div>
        <div class="mission-container">
            <h3>Our Mission</h3>
            <p>We aim to provide top-quality transportation services and exceed our customers' expectations.</p>
        </div>
    </div>
    <div class="featured-image">
        <img src="{% static 'images/website-photo.jpg' %}" alt="Featured" class="featured-image">
    </div>
    <div class="trailer-container" id="trailers">
        <h3>Trailer Types for Rent/Lease</h3>
        <ul class="trailer-list">
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=dry_van'">
                <img src="{% static 'images/trailer1.jpg' %}" alt="Dry Van" class="trailer-image">
                Dry Van
            </li>
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=heated'">
                <img src="{% static 'images/trailer5.jpg' %}" alt="Heated Flatbed Roll" class="trailer-image">
                Heated Flatbed Roll
            </li>
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=conestoga'">
                <img src="{% static 'images/trailer4.jpg' %}" alt="Conestoga" class="trailer-image">
                Conestoga
            </li>
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=flatbed'">
                <img src="{% static 'images/trailer3.jpg' %}" alt="Flatbed" class="trailer-image">
                Flatbed
            </li>
            <li class="trailer-item" onclick="window.location.href='{% url 'trailer_types' %}?type=storage'">
                <img src="{% static 'images/trailer2.jpg' %}" alt="Storage Van" class="trailer-image">
                Storage Van
            </li>
        </ul>
    </div>
</div>
{% endblock %}
