{% extends 'base.html' %}

<!-- templates/job_application.html -->

{% load custom_filters %}

{% block content %}
<div class="book-antiqua">
    <h1>Job Application</h1>
</div>

<form method="post" novalidate>
    {% csrf_token %}
    <div class="section-header">
        <h2>Section 1: Name and Date</h2>
        <button type="button" class="toggle-section" data-target="#section1-content">-</button>
    </div>
    <div id="section1-content" class="collapsible-content expanded">
        {{ form.non_field_errors }}
        <div>
            {{ form.applicant_name.label_tag }} {{ form.applicant_name }}
        </div>
        <div>
            {{ form.date_of_application.label_tag }} {{ form.date_of_application }}
        </div>
        <div>
            {{ form.email_address.label_tag }} {{ form.email_address }}
        </div>
        <p>In compliance with Federal and State equal employment opportunity laws, qualified applicants
            are considered for all positions without regard to race, color, religion, sex, national origin, age,
            marital status, veteran status, non-job related disability, or any other protected group status.</p>
    </div>
    <div class="section-header">
        <h2>Section 2: Applicant Information</h2>
        <button type="button" class="toggle-section" data-target="#section2-content">+</button>
    </div>
    <div id="section2-content" class="collapsible-content collapsed">
        <div>
            {{ form.position_applied_for.label_tag }} {{ form.position_applied_for }}
        </div>
        <div>
            {{ form.middle_initial.label_tag }} {{ form.middle_initial }}
        </div>
        <div class="reg-border"></div>
        <p>List your addresses of residency for the past 3 years.</p>
        <p>Current Address:</p>
        <div id="address-formset">
            {{ address_formset.management_form }}
            {% for form in address_formset %}
            <div class="employment-history-form">
                <div class="employment-history-header">
                    <h3>Current Address</h3>
                    <button type="button" class="delete-employment-history">Delete</button>
                </div>
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            {% endfor %}
            <p>Previous Addresses:</p>
            <div class="add-button-container">
                <button type="button" id="add-address">Add a Previous Address</button>
            </div>
        </div>
        <div class="reg-border"></div>
        <div>
            {{ form.legal_right_work.label_tag }} {{ form.legal_right_work }}
        </div>
        <div>
            {{ form.phone_number.label_tag }} {{ form.phone_number }}
        </div>
        <div>
            {{ form.social_security_number.label_tag }} {{ form.social_security_number }}
        </div>
        <div>
            {{ form.date_of_birth.label_tag }} {{ form.date_of_birth }}
        </div>
        <div>
            {{ form.proof_of_age.label_tag }} {{ form.proof_of_age }}
        </div>
        <div class="reg-border"></div>
        <div>
            {{ form.worked_here_before.label_tag }}
            {{ form.worked_here_before|attr:"data-target=#conditional-fields-1" }}
        </div>
        <div id="conditional-fields-1" style="display: none;">
            <div>
                {{ form.worked_here_location.label_tag }} {{ form.worked_here_location }}
            </div>
            <div>
                {{ form.worked_here_from.label_tag }} {{ form.worked_here_from }}
            </div>
            <div>
                {{ form.worked_here_to.label_tag }} {{ form.worked_here_to }}
            </div>
            <div>
                {{ form.rate_of_pay.label_tag }}
                <div class="monetary-field-container">
                    {{ form.rate_of_pay }}
                </div>
            </div>
            <div>
                {{ form.previous_position.label_tag }} {{ form.previous_position }}
            </div>
            <div>
                {{ form.reason_for_leaving_here.label_tag }} {{ form.reason_for_leaving_here }}
            </div>
        </div>
        <div class="reg-border"></div>
        <div>
            {{ form.currently_employed.label_tag }}
            {{ form.currently_employed|attr:"data-target=#conditional-fields-2 data-inverse=true" }}
        </div>
        <div id="conditional-fields-2" style="display: block;">
            <div>
                {{ form.time_since_previously_employed.label_tag }} {{ form.time_since_previously_employed }}
            </div>
        </div>
        <div class="reg-border"></div>
        <div>
            {{ form.who_referred.label_tag }} {{ form.who_referred }}
        </div>
        <div>
            {{ form.rate_of_pay_expected.label_tag }}
            <div class="monetary-field-container">
                {{ form.rate_of_pay_expected }}
            </div>
        </div>
        <div>
            {{ form.ever_been_bonded.label_tag }}
            {{ form.ever_been_bonded|attr:"data-target=#conditional-fields-3" }}
        </div>
        <div id="conditional-fields-3" style="display: none;">
            <div>
            {{ form.name_of_bonding_company.label_tag }} {{ form.name_of_bonding_company }}
        </div>
        </div>
        <div class="job-border"></div>
        <div>
            {{ form.unable_perform.label_tag }} {{ form.unable_perform }}
        </div>
        <div>
            {{ form.reason_unable_perform.label_tag }} {{ form.reason_unable_perform }}
        </div>
    </div>

    <div class="section-header">
        <h2>Section 3: Employment History</h2>
        <button type="button" class="toggle-section" data-target="#section3-content">+</button>
    </div>
    <div id="section3-content" class="collapsible-content collapsed">
        <p>All driver applicants to drive in interstate commerce must provide the following information on all employers
            during the preceding 3 years. List complete mailing address, street number, city, state and zip code.</p>
        <p>Applicants to drive a commercial motor vehicle* in intrastate or interstate commerce shall also provide an
            additional 7 years' information on those employers for whom the applicant operated such vehicle.</p>
        <p>(NOTE: List employers in reverse order starting with the most recent.)</p>
        <p><i>*Includes vehicles having a GVWR of 26,001 lbs. or more, vehicles designed to transport 16 or more passengers
            (including the driver), or any size vehicle used to transport hazardous materials in a quantity requiring placarding.</i></p>
        <div class="form-row">
            {{ applicable_form.employer_checkbox.label_tag }}
            {{ applicable_form.employer_checkbox|attr:"data-target=#employment-history-formset data-inverse=true" }}
        </div>
        <div id="employment-history-formset">
            {{ employment_history_formset.management_form }}
            {% for form in employment_history_formset %}
            <div class="employment-history-form">
                <div class="employment-history-header">
                    <h3>Employment History {{ forloop.counter }}</h3>
                    <button type="button" class="delete-employment-history">Delete</button>
                </div>
                {{ form.non_field_errors }}
                <div>
                    {{ form.employer_name.label_tag }} {{ form.employer_name }}
                </div>
                <div>
                    {{ form.employer_address.label_tag }} {{ form.employer_address }}
                </div>
                <div>
                    {{ form.employer_city.label_tag }} {{ form.employer_city }}
                </div>
                <div>
                    {{ form.employer_state.label_tag }} {{ form.employer_state }}
                </div>
                <div>
                    {{ form.employer_zip.label_tag }} {{ form.employer_zip }}
                </div>
                <div>
                    {{ form.employer_contact.label_tag }} {{ form.employer_contact }}
                </div>
                <div>
                    {{ form.employer_phone_number.label_tag }} {{ form.employer_phone_number }}
                </div>
                <div>
                    {{ form.subject_to_fmcsr.label_tag }} {{ form.subject_to_fmcsr }}
                </div>
                <div>
                    {{ form.drug_alcohol_testing.label_tag }} {{ form.drug_alcohol_testing }}
                </div>
                <div>
                    {{ form.from_employer.label_tag }} {{ form.from_employer }}
                </div>
                <div>
                    {{ form.to_employer.label_tag }} {{ form.to_employer }}
                </div>
                <div>
                    {{ form.position_held.label_tag }} {{ form.position_held }}
                </div>
                <div>
                    {{ form.salary_wage.label_tag }}
                    <div class="monetary-field-container">
                        {{ form.salary_wage }}
                    </div>
                </div>
                <div>
                    {{ form.reason_for_leaving.label_tag }} {{ form.reason_for_leaving }}
                </div>
            </div>
            {% endfor %}
            <div class="add-button-container">
                <button type="button" id="add-employment-history">Add Another Employment History</button>
            </div>
            <p><i>**The Federal Motor Carrier Safety Regulations (FMCSRs) apply to anyone operating a motor vehicle on a highway in
                interstate commerce to transport passengers or property when the vehicle:</i></p>
            <p><i>(1) weighs or has a GVWR of 10,001 pounds or more,</i></p>
            <p><i>(2) is designed or used to transport more than 8 passengers (including the driver), OR</i></p>
            <p><i>(3) is of any size and is used to transport hazardous materials in a quantity requiring placarding.</i></p>
        </div>
    </div>

    <div class="section-header">
        <h2>Section 4: Accident Record</h2>
        <button type="button" class="toggle-section" data-target="#section4-content">+</button>
    </div>
    <div id="section4-content" class="collapsible-content collapsed">
        <p>Record any accidents for at least the last 3 years. If none, check the checkbox below.</p>
        <div class="form-row">
            {{ applicable_form.accident_checkbox.label_tag }}
            {{ applicable_form.accident_checkbox|attr:"data-target=#accident-record-formset data-inverse=true" }}
        </div>
        <div id="accident-record-formset">
            {{ accident_record_formset.management_form }}
            {% for form in accident_record_formset %}
            <div class="employment-history-form">
                <div class="employment-history-header">
                    <h3>Accident Record {{ forloop.counter }}</h3>
                    <button type="button" class="delete-employment-history">Delete</button>
                </div>
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            {% endfor %}
            <div class="add-button-container">
                <button type="button" id="add-accident-record">Add Another Accident Record</button>
            </div>
        </div>
    </div>
    
    <div class="section-header">
        <h2>Section 5: Traffic Convictions</h2>
        <button type="button" class="toggle-section" data-target="#section5-content">+</button>
    </div>
    <div id="section5-content" class="collapsible-content collapsed">
        <div class="form-row">
            {{ applicable_form.conviction_checkbox.label_tag }}
            {{ applicable_form.conviction_checkbox|attr:"data-target=#traffic-conviction-formset data-inverse=true" }}
        </div>
        <div id="traffic-conviction-formset">
            {{ traffic_conviction_formset.management_form }}
            {% for form in traffic_conviction_formset %}
            <div class="employment-history-form">
                <div class="employment-history-header">
                    <h3>Traffic Conviction {{ forloop.counter }}</h3>
                    <button type="button" class="delete-employment-history">Delete</button>
                </div>
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            {% endfor %}
            <div class="add-button-container">
                <button type="button" id="add-traffic-conviction">Add Another Traffic Conviction</button>
            </div>
        </div>
    </div>
    
    <div class="section-header">
        <h2>Section 6: License Information</h2>
        <button type="button" class="toggle-section" data-target="#section6-content">+</button>
    </div>
    <div id="section6-content" class="collapsible-content collapsed">
        <div class="form-row">
            {{ applicable_form.license_checkbox.label_tag }}
            {{ applicable_form.license_checkbox|attr:"data-target=#license-information-formset data-inverse=true" }}
        </div>
        <div id="license-information-formset">
            {{ license_formset.management_form }}
            {% for form in license_formset %}
            <div class="employment-history-form">
                <div class="employment-history-header">
                    <h3>License {{ forloop.counter }}</h3>
                    <button type="button" class="delete-employment-history">Delete</button>
                </div>
                {{ form.non_field_errors }}
                {{ form.as_p }}
            </div>
            {% endfor %}
            <div class="add-button-container">
                <button type="button" id="add-license">Add Another License</button>
            </div>
        </div>
        <div>
            {{ license_2_form.denied_license.label_tag }} {{ license_2_form.denied_license }}
        </div>
        <div>
            {{ license_2_form.suspended_license.label_tag }} {{ license_2_form.suspended_license }}
        </div>
        <div>
            {{ license_2_form.license_details.label_tag }} {{ license_2_form.license_details }}
        </div>
    </div>

    <div class="section-header">
        <h2>Section 7: Driving Experience</h2>
        <button type="button" class="toggle-section" data-target="#section7-content">+</button>
    </div>
    <div id="section7-content" class="collapsible-content collapsed">
        <p>Check the boxes for any that you have experience with.</p>
        <div id="driving-experience-formset" class="employment-history-form">
            <div>
                {{ driving_experience_form.straight_truck.label_tag }}
                {{ driving_experience_form.straight_truck|attr:"data-target=#conditional-fields-straight-truck" }}
            </div>
            <div id="conditional-fields-straight-truck" style="display: none;">
                <div>
                    {{ driving_experience_form.straight_truck_type.label_tag }} {{ driving_experience_form.straight_truck_type }}
                </div>
                <div>
                    {{ driving_experience_form.straight_truck_from.label_tag }} {{ driving_experience_form.straight_truck_from }}
                </div>
                <div>
                    {{ driving_experience_form.straight_truck_to.label_tag }} {{ driving_experience_form.straight_truck_to }}
                </div>
                <div>
                    {{ driving_experience_form.straight_truck_miles.label_tag }} {{ driving_experience_form.straight_truck_miles }}
                </div>
            </div>
            <div class="reg-border"></div>
            <div>
                {{ driving_experience_form.tractor_semi_trailer.label_tag }}
                {{ driving_experience_form.tractor_semi_trailer|attr:"data-target=#conditional-fields-tractor-semi-trailer" }}
            </div>
            <div id="conditional-fields-tractor-semi-trailer" style="display: none;">
                <div>
                    {{ driving_experience_form.tractor_semi_trailer_type.label_tag }} {{ driving_experience_form.tractor_semi_trailer_type }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_semi_trailer_from.label_tag }} {{ driving_experience_form.tractor_semi_trailer_from }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_semi_trailer_to.label_tag }} {{ driving_experience_form.tractor_semi_trailer_to }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_semi_trailer_miles.label_tag }} {{ driving_experience_form.tractor_semi_trailer_miles }}
                </div>
            </div>
            <div class="reg-border"></div>
            <div>
                {{ driving_experience_form.tractor_two_trailers.label_tag }}
                {{ driving_experience_form.tractor_two_trailers|attr:"data-target=#conditional-fields-tractor-two-trailers" }}
            </div>
            <div id="conditional-fields-tractor-two-trailers" style="display: none;">
                <div>
                    {{ driving_experience_form.tractor_two_trailers_type.label_tag }} {{ driving_experience_form.tractor_two_trailers_type }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_two_trailers_from.label_tag }} {{ driving_experience_form.tractor_two_trailers_from }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_two_trailers_to.label_tag }} {{ driving_experience_form.tractor_two_trailers_to }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_two_trailers_miles.label_tag }} {{ driving_experience_form.tractor_two_trailers_miles }}
                </div>
            </div>
            <div class="reg-border"></div>
            <div>
                {{ driving_experience_form.tractor_three_trailers.label_tag }}
                {{ driving_experience_form.tractor_three_trailers|attr:"data-target=#conditional-fields-tractor-three-trailers" }}
            </div>
            <div id="conditional-fields-tractor-three-trailers" style="display: none;">
                <div>
                    {{ driving_experience_form.tractor_three_trailers_type.label_tag }} {{ driving_experience_form.tractor_three_trailers_type }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_three_trailers_from.label_tag }} {{ driving_experience_form.tractor_three_trailers_from }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_three_trailers_to.label_tag }} {{ driving_experience_form.tractor_three_trailers_to }}
                </div>
                <div>
                    {{ driving_experience_form.tractor_three_trailers_miles.label_tag }} {{ driving_experience_form.tractor_three_trailers_miles }}
                </div>
            </div>
            <div class="reg-border"></div>
            <div>
                {{ driving_experience_form.motorcoach_eight.label_tag }}
                {{ driving_experience_form.motorcoach_eight|attr:"data-target=#conditional-fields-motorcoach-eight" }}
            </div>
            <div id="conditional-fields-motorcoach-eight" style="display: none;">
                <div>
                    {{ driving_experience_form.motorcoach_eight_type.label_tag }} {{ driving_experience_form.motorcoach_eight_type }}
                </div>
                <div>
                    {{ driving_experience_form.motorcoach_eight_from.label_tag }} {{ driving_experience_form.motorcoach_eight_from }}
                </div>
                <div>
                    {{ driving_experience_form.motorcoach_eight_to.label_tag }} {{ driving_experience_form.motorcoach_eight_to }}
                </div>
                <div>
                    {{ driving_experience_form.motorcoach_eight_miles.label_tag }} {{ driving_experience_form.motorcoach_eight_miles }}
                </div>
            </div>
            <div class="reg-border"></div>
            <div>
                {{ driving_experience_form.motorcoach_fifteen.label_tag }}
                {{ driving_experience_form.motorcoach_fifteen|attr:"data-target=#conditional-fields-motorcoach-fifteen" }}
            </div>
            <div id="conditional-fields-motorcoach-fifteen" style="display: none;">
                <div>
                    {{ driving_experience_form.motorcoach_fifteen_type.label_tag }} {{ driving_experience_form.motorcoach_fifteen_type }}
                </div>
                <div>
                    {{ driving_experience_form.motorcoach_fifteen_from.label_tag }} {{ driving_experience_form.motorcoach_fifteen_from }}
                </div>
                <div>
                    {{ driving_experience_form.motorcoach_fifteen_to.label_tag }} {{ driving_experience_form.motorcoach_fifteen_to }}
                </div>
                <div>
                    {{ driving_experience_form.motorcoach_fifteen_miles.label_tag }} {{ driving_experience_form.motorcoach_fifteen_miles }}
                </div>
            </div>
        </div>
        <div>
            {{ driving_experience_form.states_operated_in.label_tag }} {{ driving_experience_form.states_operated_in }}
        </div>
        <div>
            {{ driving_experience_form.special_courses.label_tag }} {{ driving_experience_form.special_courses }}
        </div>
        <div>
            {{ driving_experience_form.safe_driving_awards.label_tag }} {{ driving_experience_form.safe_driving_awards }}
        </div>
    </div>

    <div class="section-header">
        <h2>Section 8: Experience and Qualifications</h2>
        <button type="button" class="toggle-section" data-target="#section8-content">+</button>
    </div>
    <div id="section8-content" class="collapsible-content collapsed">
        <div>
            {{ experience_qualifications_form.trucking_experience.label_tag }} {{ experience_qualifications_form.trucking_experience }} <!-- Change to trucking experience -->
        </div>
        <div>
            {{ experience_qualifications_form.courses_other.label_tag }} {{ experience_qualifications_form.courses_other }}
        </div>
        <div>
            {{ experience_qualifications_form.special_equipment.label_tag }} {{ experience_qualifications_form.special_equipment }}
        </div>
        <div>
            {{ experience_qualifications_form.highest_grade_completed.label_tag }} {{ experience_qualifications_form.highest_grade_completed }}
        </div>
        <div class="reg-border"></div>
        <p>Last School Attended:</p>
        <div>
            {{ experience_qualifications_form.last_school_attended_name.label_tag }} {{ experience_qualifications_form.last_school_attended_name }}
        </div>
        <div>
            {{ experience_qualifications_form.last_school_attended_city.label_tag }} {{ experience_qualifications_form.last_school_attended_city }}
        </div>
        <div>
            {{ experience_qualifications_form.last_school_attended_state.label_tag }} {{ experience_qualifications_form.last_school_attended_state }}
        </div>
    </div>

    <div class="section-header">
        <h2>Section 9: Applicant Signature</h2>
        <button type="button" class="toggle-section" data-target="#section9-content">+</button>
    </div>
    <div id="section9-content" class="collapsible-content collapsed">
        <p><strong>TO BE READ AND SIGNED BY APPLICANT</strong></p>
        <p>I authorize you to make such investigations and inquiries of my personal, employment, financial or medical history
            and other related matters as may be necessary in arriving at an employment decision. (Generally, inquiries
            regarding medical history will be made only if and after a conditional offer of employment has been-extended.) I hereby
            release employers, schools, health care providers and other persons from all liability in responding to inquiries and releasing information in connection with my application.<br>
            In the event of employment, I understand that false or misleading information given in my application or interview(s) may result in discharge. I understand, also, that I am required to abide by all rules and regulations of the Company.</p>
        <p>I understand that information I provide regarding current and/or previous employers may be used, and those employer(s) will be contacted, for the purpose of
            investigating my safety performance history as required by 49 CFR 391.23(d) and (e). I understand that I have the right to:</p>
        <ul>
            <li>Review information provided by previous employers;</li>
            <li>Have errors in the information corrected by previous employers and for those previous employers to re-send the corrected information to the prospective employer; and</li>
            <li>Have a rebuttal statement attached to the alleged erroneous information, if the previous employer(s) and I cannot agree on the accuracy of the information.</li>
        </ul>
        <div class="reg-border"></div>
        <p>This certifies that this application was completed by me, and that all entries on it and information in it are true and complete to the best of my knowledge.</p>
        <div>
            {{ signature_form.signature.label_tag }} {{ signature_form.signature }}
        </div>
        <div>
            {{ signature_form.date.label_tag }} {{ signature_form.date }}
        </div>
    </div>

    <div class="submit-container">
        <button type="submit">Submit Application</button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        function saveFormData(form) {
            const inputs = form.querySelectorAll('input, select, textarea');
            inputs.forEach(input => {
               const name = input.name;
               const value = input.value;
               if (name) {
                   localStorage.setItem(name, value);
               }
            });
        }
        
        function loadFormData(form) {
            const inputs = form.querySelectorAll('input, select, textarea');
            inputs.forEach(input => {
                const name = input.name;
                if (name && localStorage.getItem(name) !== null) {
                    input.value = localStorage.getItem(name);
                }
            });
        }
        
        function addRequiredAsterisks() {
            const requiredFields = document.querySelectorAll('input, select, textarea');
            requiredFields.forEach(field => {
                const id = field.id;
                const parent = field.closest('div[id]');
                const parentID = parent == null ? 'id' : parent.id;
                const isMandatory = field.hasAttribute('required') || field.closest('div[data-mandatory="true"]') || parentID.includes('conditional');
                const label = document.querySelector(`label[for='${id}']`);
                if (label && isMandatory) {
                    label.classList.add('required-asterisk');
                }
            });
        }
        
        addRequiredAsterisks();
        
        document.querySelectorAll('form').forEach(form => {
           form.addEventListener('input', () => saveFormData(form));
           loadFormData(form);
        });
        
        
        const toggleButtons = document.querySelectorAll('.toggle-section');
    
        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                const target = document.querySelector(this.dataset.target);
                target.classList.toggle('expanded');
                this.textContent = target.classList.contains('expanded') ? '-' : '+';
    
                // Validate the section when the button is clicked
                if (this.textContent === '+') validateSection(target, this);
            });
        });
        
        function validateSection(section, button) {
            const inputs = section.querySelectorAll('input, select, textarea');
            let allValid = true;
            
            inputs.forEach(input => {
                // Check if the input is mandatory
                const isMandatory = input.hasAttribute('required') || input.closest('div[data-mandatory="true"]');
                
                // Check if the input is empty
                const isEmpty = input.value.trim() === '';
                
                // Remove previous error message and styles
                input.classList.remove('invalid-field');
                const errorMessage = input.parentElement.querySelector('.error-message');
                if (errorMessage) errorMessage.remove();
                
                // If the input is mandatory and empty, mark it as invalid
                if (isMandatory && isEmpty) {
                    allValid = false;
                    input.classList.add('invalid-field');
                    const errorSpan = document.createElement('span');
                    errorSpan.classList.add('error-message');
                    errorSpan.textContent = 'This field is required';
                    input.parentElement.appendChild(errorSpan);
                }
                
                if (allValid) {
                    button.classList.remove('invalid');
                    button.classList.add('valid');
                } else {
                    button.classList.remove('valid');
                    button.classList.add('invalid');
                }
            });
            return allValid;
        }
        
        const submitButton = document.querySelector('button[type="submit"]');
        
        submitButton.addEventListener('click', function(event) {
            event.preventDefault();
            
            const buttons = document.querySelectorAll('.toggle-section');
            let firstInvalidSection = null;
            let firstInvalidField = null;
            let allSectionsValid = true;
            
            buttons.forEach(button => {
                const target = document.querySelector(button.dataset.target);
                const valid = validateSection(target, button);
                target.classList.remove('expanded');
                target.classList.add('collapsed');
                button.textContent = '+';
                if (!valid) {
                    allSectionsValid = false;
                    if (!firstInvalidSection) {
                        firstInvalidSection = target;
                        firstInvalidField = target.querySelector('.invalid-field');
                        button.textContent = '-';
                    }
                }
            });
            
            if (!allSectionsValid) {
                firstInvalidSection.classList.add('expanded');
                
                if (firstInvalidField) {
                    setTimeout(() => {
                        firstInvalidField.scrollIntoView({block: 'center'});
                    }, 200);
                }
                
                const existingErrorMessage = document.querySelector('.error-container');
                if (!existingErrorMessage) {
                    const container = document.createElement('div');
                    container.classList.add('error-container');
                    
                    const errorMessage = document.createElement('div');
                    errorMessage.textContent = 'Please fill out all required fields.';
                    errorMessage.classList.add('submit-error-message');
                    container.appendChild(errorMessage);
                    
                    submitButton.parentElement.appendChild(container);
                }
            } else {
                window.location.href = '/application-success';
            }
        });
        
        // Formset management
        const formsetConfigs = [
            { addButtonId: 'add-employment-history', formsetId: 'employment-history-formset', headerText: 'Employment History', maxForms: 5 },
            { addButtonId: 'add-accident-record', formsetId: 'accident-record-formset', headerText: 'Accident Record', maxForms: 5 },
            { addButtonId: 'add-traffic-conviction', formsetId: 'traffic-conviction-formset', headerText: 'Traffic Conviction', maxForms: 5 },
            { addButtonId: 'add-license', formsetId: 'license-information-formset', headerText: 'License', maxForms: 5 },
            { addButtonId: 'add-address', formsetId: 'address-formset', headerText: 'Previous Address', maxForms: 4 }
        ];
        
        formsetConfigs.forEach(config => {
            initializeFormset(config);
        });

        function initializeFormset(config) {
            const addButton = document.getElementById(config.addButtonId);
            const formset = document.getElementById(config.formsetId);
            let totalForms = formset.querySelector('input[name$="-TOTAL_FORMS"]');
            let formCount = parseInt(totalForms.value);
    
            function updateHeaders() {
                const headers = formset.querySelectorAll(`.employment-history-form h3`);
                headers.forEach((header, index) => {
                    updateHeader(header, index);
                });
            }
            
            function updateHeader(header, index) {
                const headerText = config.headerText;
                if (headerText.includes('Address')) {
                    if (index === 0) {
                        header.textContent = `Current Address`;
                    } else {
                        header.textContent = `${headerText} ${index}`;
                    }
                } else {
                    header.textContent = `${headerText} ${index + 1}`;
                }
            }
    
            function updateAddButtonVisibility() {
                if (formCount >= config.maxForms) {
                    addButton.style.display = 'none';
                } else {
                    addButton.style.display = 'block';
                }
            }
    
            function updateFirstDeleteButtonVisibility() {
                const firstDeleteButton = formset.querySelector(`.employment-history-form .delete-employment-history`);
                const firstHeader = formset.querySelector('.employment-history-form h3');
                if (formCount === 1 || firstHeader.textContent.includes('Current Address')) {
                    firstDeleteButton.style.display = 'none';
                } else {
                    firstDeleteButton.style.display = 'block';
                }
            }
    
            addButton.addEventListener('click', function() {
                if (formCount < config.maxForms) {
                    const newForm = formset.querySelector(`.employment-history-form`).cloneNode(true);
                    newForm.querySelectorAll('input, select, textarea').forEach(input => {
                        {#const id2 = input.id;#}
                        const name = input.name.replace(/-\d+-/, `-${formCount}-`);
                        const id = input.id.replace(/-\d+-/, `-${formCount}-`);
                        input.name = name;
                        input.id = id;
                        input.value = '';
                        {#const label = document.querySelector(`label[for='${id2}']`);#}
                        {#console.log(label);#}
                        {#label.classList.add('required-asterisk');#}
                    });
    
                    const subheader = newForm.querySelector('h3');
                    updateHeader(subheader, formCount);
    
                    const deleteButton = newForm.querySelector('.delete-employment-history');
                    deleteButton.style.display = 'block';
                    deleteButton.addEventListener('click', function() {
                        newForm.remove();
                        formCount--;
                        totalForms.value = formCount.toString();
                        updateHeaders();
                        updateAddButtonVisibility();
                        updateFirstDeleteButtonVisibility();
                    });
                    
                    newForm.querySelectorAll('input').forEach(input => {
                       if (input.id === 'id_employer_phone_number') {
                           input.addEventListener('input', () => formatPhoneNumber(input));
                       }
                       if (input.classList.contains('monetary-field')) {
                           formatMonetaryField(input);
                       }
                    });
    
                    const container = addButton.parentElement;
                    formset.insertBefore(newForm, container);
                    formCount++;
                    totalForms.value = formCount.toString();
                    updateAddButtonVisibility();
                    updateFirstDeleteButtonVisibility();
                }
            });
    
            const initialDeleteButtons = formset.querySelectorAll('.delete-employment-history');
            initialDeleteButtons.forEach((button) => {
                button.addEventListener('click', function(event) {
                    const form = event.target.closest(`.employment-history-form`);
                    form.remove();
                    formCount--;
                    totalForms.value = formCount.toString();
                    updateHeaders();
                    updateAddButtonVisibility();
                    updateFirstDeleteButtonVisibility();
                });
            });
    
            updateHeaders();
            updateAddButtonVisibility();
            updateFirstDeleteButtonVisibility();
        }
        
        // Format phone number as (123) 456-7890
        const formatPhoneNumber = (input) => {
            let value = input.value.replace(/\D/g, ''); // Remove all non-digit characters
            if (value.length > 10) value = value.substring(0, 10); // Limit to 10 digits
    
            if (value.length > 6) {
                input.value = `(${value.substring(0, 3)}) ${value.substring(3, 6)}-${value.substring(6)}`;
            } else if (value.length > 3) {
                input.value = `(${value.substring(0, 3)}) ${value.substring(3)}`;
            } else if (value.length > 0) {
                input.value = `(${value}`;
            }
        };

        // Format SSN as 123-45-6789
        const formatSSN = (input) => {
            let value = input.value.replace(/\D/g, ''); // Remove all non-digit characters
            if (value.length > 9) value = value.substring(0, 9); // Limit to 9 digits
    
            if (value.length > 5) {
                input.value = `${value.substring(0, 3)}-${value.substring(3, 5)}-${value.substring(5)}`;
            } else if (value.length > 3) {
                input.value = `${value.substring(0, 3)}-${value.substring(3)}`;
            } else {
                input.value = value;
            }
        };
        
        function formatMonetaryField(input) {
            input.addEventListener('input', function () {
                let cursorPosition = this.selectionStart;
                let value = this.value.replace(/[^0-9.]/g, '');
                
                const isEmpty = value === '';
                
                value = parseFloat(value).toFixed(2);
                const decimalAdded = value.includes('.') && cursorPosition > value.indexOf('.');
                
                if (value.length > 10) {
                    if (cursorPosition <= value.indexOf('.')) {
                        const prev = value.substring(0, 7);
                        const dec1 = value.charAt(7);
                        const dec2 = value.charAt(9);
                        console.log(cursorPosition);
                        if (value.charAt(cursorPosition) === '.') cursorPosition++;
                        value = prev + '.' + dec1 + dec2;
                    } else {
                        value = value.substring(0, 10);
                    }
                    cursorPosition = Math.min(cursorPosition, 10);
                }
                
                this.value = isNaN(value) ? '' : value;
                
                if (!isEmpty && decimalAdded) {
                    cursorPosition++;
                }
                
                this.setSelectionRange(cursorPosition, cursorPosition);
            });
        }
    
        // Attach event listeners to the input fields
        const phoneNumberField = document.getElementById('id_phone_number');
        const employerPhoneNumberField = document.getElementById('id_employer_phone_number');
        if (phoneNumberField) {
            phoneNumberField.addEventListener('input', () => formatPhoneNumber(phoneNumberField));
        }
        if (employerPhoneNumberField) {
            employerPhoneNumberField.addEventListener('input', () => formatPhoneNumber(employerPhoneNumberField));
        }
    
        const ssnField = document.getElementById('id_social_security_number');
        if (ssnField) {
            ssnField.addEventListener('input', () => formatSSN(ssnField));
        }
        
        // Monetary fields script
        const monetaryFields = document.querySelectorAll('.monetary-field');
        
        monetaryFields.forEach(field => {
            formatMonetaryField(field);
        });
        
        function toggleConditionalFields(event) {
            const checkbox = event.target;
            const dataset = checkbox.dataset.target.split(' ');
            const target = document.querySelector(dataset[0]);
            const isInverse = dataset[1] === 'data-inverse';

            if (isInverse ? !checkbox.checked : checkbox.checked) {
                target.style.display = 'block';
                target.querySelectorAll('input, select, textarea').forEach(element => {
                    if (element.type !== 'checkbox') {
                        element.required = true;
                        const label = document.querySelector(`label[for='${element.id}']`);
                        if (label) label.classList.add('required-asterisk');
                    }
                });
            } else {
                target.style.display = 'none';
                target.querySelectorAll('input, select, textarea').forEach(element => {
                    element.required = false;
                });
            }
        }
        
        function initializeConditionalFields() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"][data-target]');
            checkboxes.forEach(checkbox => {
                toggleConditionalFields({ target: checkbox });
                checkbox.addEventListener('change', toggleConditionalFields);
            });
        }
        
        initializeConditionalFields();
    });
</script>
{% endblock %}
